execution
install
*.swp
python_bk*
placement
routing
constraint_generation
thirdparty
*.pyc
sandbox
*bound
*con
*gds
*gr
*gr.spec
*ioPin
*iopin
*pin
*sym
*symnet
dataset/
*Dataset/
*.sif
*.tar.gz
examples/
*Dataset
